[submodule "web-intelligence"]
  path = web-intelligence
  url = git@github.com:titanlien/coursera-web-intelligence.git
[submodule "bitstarter"]
  path = startup/bitstarter
  url = https://github.com/titanlien/bitstarter.git
[submodule "mahcine_learning"]
	path = mahcine_learning
	url = git@github.com:titanlien/machine-learning.git
